body {
    font-family: Tahoma, serif;
}
h1 {
    color: #31241d;
}

form [id="mainForm"]{
   text-align: center;
   background-color: bisque; 
   border-radius: 20px;
}

h4 {
    color: blueviolet;
    text-shadow: 2px 2px 4px rgb(146, 72, 216);
}

.name-box {
    background-color: thistle;
    border: 2px solid salmon;
    transition: 0.2s;
}

input[type="button"] {
    color: #000;
    height: 50px;
}